URxvt.scrollBar:            off
URxvt.font:                 xft:Source Code Pro:regular:size=8 
URxvt.boldFont:             xft:Source Code Pro:bold:size=8
URxvt.letterSpace:          -1

URxvt.perl-ext:             default,url-select,keyboard-select,clipboard
URxvt.keysym.M-u:           perl:url-select:select_next
URxvt.keysym.M-Escape:      perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
URxvt.keysym.M-c:           perl:clipboard:copy
URxvt.keysym.M-v:           perl:clipboard:paste
URxvt.keysym.M-C-v:         perl:clipboard:paste_escaped

URxvt.url-select.launcher:  browser

URxvt.url-select.underline: false
URxvt.clipboard.copycmd:    xclip -i -sel c
URxvt.clipboard.pastecmd:   xclip -o -sel c

URxvt.depth:                32
URxvt.transparent:          false

! Base16 Eighties
! Scheme: Chris Kempson (http://chriskempson.com)

URxvt*background:                     #2d2d2d
URxvt*foreground:                     #d3d0c8
URxvt*cursorColor:                    #d3d0c8

URxvt*scrollColor:                    #d3d0c8
URxvt*highlightColor:                 #515151
URxvt*highlightTextColor:             #a09f93

URxvt*color0:                         #2d2d2d
URxvt*color1:                         #f2777a
URxvt*color2:                         #99cc99
URxvt*color3:                         #ffcc66
URxvt*color4:                         #6699cc
URxvt*color5:                         #cc99cc
URxvt*color6:                         #66cccc
URxvt*color7:                         #d3d0c8
URxvt*color8:                         #747369
URxvt*color9:                         #f2777a
URxvt*color10:                        #99cc99
URxvt*color11:                        #ffcc66
URxvt*color12:                        #6699cc
URxvt*color13:                        #cc99cc
URxvt*color14:                        #66cccc
URxvt*color15:                        #f2f0ec

URxvt*color16:                        #f99157
URxvt*color17:                        #d27b53
URxvt*color18:                        #393939
URxvt*color19:                        #515151
URxvt*color20:                        #a09f93
URxvt*color21:                        #e8e6df


URxvt.internalBorder:      0
URxvt.externalBorder:      0
